# Ignore build output
/target/
*.jar

# Maven specific
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
/.idea/
/*.iml

# Logs
*.log

# Environment files
*.env
application.properties
application.yml

# OS files
.DS_Store
Thumbs.db